{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <h2>Are You Sure You Want To Delete The Post "{{ post.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'post_detail' post.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock%}